:root {
  /* colors */
  --white: #ffffff;
  --grey: #444443;

  /* fonts */
  --decorative: "Montserrat", sans-serif;
  --sans: "Open Sans", sans-serif;

}

body {
  background-color: var(--grey);
  color: var(--white);
}
